body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: oklab(100% 0 -0.00011);
  background: oklab(26.033% 0 -0.00003);
}

button{
  padding: 1rem 2rem;
  font-size: 1.25rem;
  background: oklab(32.504% 0 -0.00004);
  color: oklab(100% 0 -0.00011);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}